//Colors
$veryDarkGray: hsl(0, 0%, 17%);
$darkGray: hsl(0, 0%, 59%);
$white: hsl(0, 0%, 100%);
$charade: hsl(232, 16%, 19%);
$bluebell: hsl(232, 39%, 70%);

//Typography
$font: "Rubik";

//Sizes
$large: 1.2rem;

//Weights
$thin: 400;
$bold: 500;
$boldest: 700;
